.chat-side
  .user-name 
    .top-items
      .name
        takumi
      .icons
        =link_to do
          =fa_icon 'edit', class: 'edit-icon'
        =link_to do
          =fa_icon 'cog', class: 'cog-icon'
  .group-list
    .box
      .group-name
        test
      .group-message
        テストメッセージ


    
  
